services:
  db:
    image: postgres:18-alpine
    env_file: .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build: .
    depends_on:
      - db
    env_file: .env
    volumes:
      - .:/app
    ports:
      - "8000:8000"

volumes:
  postgres_data:
